<div class="section" id="heroes_page">
    <div class="content">
        <h1>Verso L'alto</h1>

        <div>
            <a class="scroll-link" href="#landing_grupo">
                <p>Conheça um pouco mais</p>
                <span class="arrow-white">arrow_forward_ios</span>
            </a>
        </div>
    </div>

    <div class="triangle"></div>
</div>

<div class="section" id="landing_grupo">
    <h2>O grupo</h2>

    <p>
        O Grupo Escoteiro Jorge Frassati 02/PR, é considerado o Grupo Escoteiro mais antigo em atividade no Estado do
        Paraná.<br /><br />
        Devidamente registrado junto a União dos Escoteiros do Brasil, atende crianças, adolescentes e jovens, hoje, na
        faixa dos seis anos e meio aos vinte e um anos de idade.<br /><br />
        Orgulhamo-nos por sermos um dos poucos ou quiçá o único grupo que nos ramos Escoteiro e Sênior trabalhamos com
        seções separadas em Tropas Escoteiras Masculina e Feminina e Tropas Sênior e Guia.<br /><br />
        Cada fase é acompanhada e desenvolvida com a faixa etária, sendo que, buscamos, entregar um indivíduo melhor
        para a sociedade.<br /><br />
        A Chefia é composta por voluntários que podem ou não terem passado pelo movimento escoteiro no período
        pré-adulto.<br /><br />
    </p>

    <div routerLink="/grupo/historia" class="hexagon-container">
        <span class="hexagon-red">hexagon</span>
        <span class="arrow-red">arrow_forward_ios</span>
    </div>
</div>

<div class="section" id="landing_escotismo">
    <div id="shadow">
        <h2>Escotismo</h2>
        <p>
            O Escotismo é um movimento mundial, educacional e voluntário, que visa o desenvolvimento integral de
            crianças, adolescentes e jovens, promovendo valores como responsabilidade, trabalho em equipe, respeito e
            liderança. Baseado no aprendizado por meio da prática e na convivência com a natureza, o Escotismo incentiva
            seus membros a se tornarem cidadãos ativos, comprometidos com o bem-estar da comunidade e a preservação do
            meio ambiente. Fundado por Baden-Powell em 1907, o movimento está presente em mais de 170 países, unindo
            milhões de escoteiros em uma missão de construir um mundo melhor.
        </p>
        <div routerLink="/grupo/escotismo" class="hexagon-container">
            <span class="hexagon-white">hexagon</span>
            <span class="arrow-white">arrow_forward_ios</span>
        </div>
    </div>
</div>

<div class="section" id="landing_blog">
    <h2>Atividades</h2>

    <div class="section" id="atividades">
        <div id="atividades-container">
            <div *ngIf="!atividades || atividades.length === 0" class="no-atividades-message">
                Não temos atividades disponíveis.
            </div>

            <div class="cards-home-container">
                <app-card-atividade *ngFor="let atividade of atividades" [atividade]="atividade" [modoAdmin]="false"
                    class="modo-home">
                </app-card-atividade>
            </div>

        </div>
    </div>

    <div routerLink="/blog" class="hexagon-container">
        <span class="hexagon-red">hexagon</span>
        <span class="arrow-red">arrow_forward_ios</span>
    </div>
</div>

<div id="landing_como_chegar">
    <img src="logo.png" alt="GE Jorge Frassati" />

    <div id="text">
        <p>Rua Mercedes Seiler Rocha, 79 - Bacacheri</p>
        <p>Curitiba - Paraná</p>
        <p>CEP: 82520-740</p>
    </div>
</div>

<div class="section" id="landing_mapa">
    <div id="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.8667678390757!2d-49.22909592482913!3d-25.409269977575015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce5c248970045%3A0x89f3e0e711d62378!2sG.E.%20Jorge%20Frassati%20-%2002%2FPR!5e0!3m2!1spt-BR!2sbr!4v1737576192373!5m2!1spt-BR!2sbr"
            width="1200" height="650" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>