<div *ngIf="atividade" class="atividade-noticia-container">
  <span routerLink="/blog" class="material-symbols-outlined">
    arrow_back
  </span>
  <article class="atividade-noticia">

    <header class="noticia-header">
      <h1 class="titulo">{{ atividade.titulo }}</h1>
      <div class="info-meta">
        <span class="data">{{ formatarData(atividade.data_atividade) }}</span>
        <span class="tag" [style.backgroundColor]="atividade.cor_tag">{{ atividade.nome_tag }}</span>
      </div>
    </header>

    <figure class="imagem-destaque"
      [style.backgroundImage]="'url(data:image/*;base64,' + atividade.imagem_destaque + ')'"></figure>

    <section class="descricao" [innerText]="atividade.descricao"></section>

    <section class="galeria" *ngIf="atividade.galeria && atividade.galeria.length > 0">
      <h2>Fotos da Galeria</h2>
      <div class="galeria-container">
        <img *ngFor="let foto of atividade.galeria; let i = index" [src]="'data:image/*;base64,' + foto.imagem"
          alt="Foto da galeria" loading="lazy" (click)="abrirImagem('data:image/*;base64,' + foto.imagem, i)" />
      </div>
    </section>
  </article>
</div>

<div *ngIf="!atividade" class="loading">
  Carregando atividade...
</div>

<div *ngIf="selectedImage" class="lightbox" (click)="fecharImagem()">
  <button class="nav-btn prev" (click)="navegarImagem(-1); $event.stopPropagation()">&#10094;</button>

  <img [src]="selectedImage" alt="Imagem ampliada" (click)="$event.stopPropagation()" />

  <button class="nav-btn next" (click)="navegarImagem(1); $event.stopPropagation()">&#10095;</button>
</div>