<app-alerta-mensagem
  [mensagem]="mensagem"
  [tipo]="tipoMensagem">
</app-alerta-mensagem>

<div class="cabecalho-calendario">
  <div class="top-bar">
    <a (click)="abrirNovoEvento()" class="btn-nova-atividade">
      <span class="material-symbols-outlined">add_circle</span> Novo Evento
    </a>
  </div>
  <div class="modo-switch">
    <label>
      <input type="radio" name="modo" value="mes" [(ngModel)]="modo" (change)="gerarCalendario()" />
      Mês
    </label>
    <label>
      <input type="radio" name="modo" value="semana" [(ngModel)]="modo" (change)="gerarCalendario()" />
      Semana
    </label>
  </div>

  <div class="navegacao">
    <span class="seta" (click)="anterior()">◀</span>

    <div class="titulo-central">
      <span class="mes">
        {{ nomeDoMes(dataAtual) }}
        <select [(ngModel)]="dataAtualMes" (change)="atualizarData()" class="select-invisivel">
          <option *ngFor="let mes of meses; let i = index" [value]="i">{{ mes }}</option>
        </select>
      </span>

      <span class="ano">
        {{ dataAtual.getFullYear() }}
        <select [(ngModel)]="dataAtualAno" (change)="atualizarData()" class="select-invisivel">
          <option *ngFor="let ano of anosDisponiveis" [value]="ano">{{ ano }}</option>
        </select>
      </span>
    </div>

    <span class="seta" (click)="proximo()">▶</span>
  </div>
</div>

<div class="cabecalho">
  <div *ngFor="let dia of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']">{{ dia }}</div>
</div>

<div class="dias" [ngClass]="{ 'semana-expandida': modo === 'semana' }">
  <div *ngFor="let dia of diasDoCalendario" class="dia" [class.fora]="dia.fora" [class.hoje]="ehHoje(dia.data)"
    (click)="clicarDia(dia.data, $event)">
    <div class="numero">{{ dia.data.getDate() }}</div>

    <div class="evento" *ngFor="let evento of dia.eventos" (click)="editarEvento(evento, $event)"
      (mouseenter)="ativarHoverGrupo(evento.hoverGroupId)" (mouseleave)="desativarHoverGrupo()"
      [attr.data-evento-id]="evento.id" [attr.data-hover-group]="evento.hoverGroupId" [ngClass]="{
           'evento-inicio': evento.isInicio && !evento.isFim,
           'evento-fim': evento.isFim && !evento.isInicio,
           'evento-unico': evento.isInicio && evento.isFim,
           'evento-meio': !evento.isInicio && !evento.isFim,
           'hover-ativo': hoverGroupAtivo === evento.hoverGroupId
         }" [style.backgroundColor]="evento.cor_tag">
      <span *ngIf="evento.mostrarTitulo">{{ evento.titulo }}</span>
    </div>
  </div>
</div>

<app-modal-evento-form *ngIf="eventoModalAberto" [evento]="eventoSelecionado" [dataSelecionada]="dataSelecionada"
  (fechar)="fecharModal()" (salvar)="recarregarEventos()" (excluir)="excluirEvento()"/>