<div class="content">
    <h1>Publique a sua atividade:</h1>

    <form class="upload" (ngSubmit)="enviarAtividade()" #atividadeForm="ngForm">

        <!-- Imagem Principal -->
        <div class="imagem-principal-box">
            <label>Imagem principal:</label>

            <div class="upload-box" (click)="fileInputPrincipal.click()" *ngIf="!imagem_principal">
                <span class="upload-plus">+</span>
                <span class="upload-text">Adicionar imagem</span>
                <input type="file" accept="image/*" #fileInputPrincipal hidden
                    (change)="onImagemPrincipalSelecionada($event)">
            </div>

            <div class="imagem-container" *ngIf="imagem_principal">
                <img *ngIf="imagem_principal_url" [src]="imagem_principal_url" class="thumbnail">
                <button type="button" (click)="removerImagemPrincipal()">×</button>
            </div>
        </div>

        <!-- Título -->
        <label>Título</label>
        <input type="text" name="titulo" [(ngModel)]="titulo" required>

        <!-- Data da Atividade -->
        <label>Quando essa atividade aconteceu?</label>
        <input type="date" name="dataAtividade" [(ngModel)]="data_atividade" required>

        <!-- Descrição -->
        <label>O que aconteceu nessa atividade?</label>
        <textarea name="descricao" [(ngModel)]="descricao" required></textarea>

        <!-- Tags -->
        <label>Selecione a tag:</label>
        <select name="tags" [(ngModel)]="tag_selecionada" required>
            <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.nome }}</option>
        </select>

        <!-- Galeria -->
        <label>Fotos da Galeria:</label>
        <div class="galeria-container">
            <!-- Botão de adicionar -->
            <div class="upload-box" (click)="fileInputGaleria.click()">
                <span class="upload-plus">+</span>
                <span class="upload-text">Adicionar imagens</span>
                <input type="file" #fileInputGaleria hidden accept="image/*" (change)="onGaleriaSelecionada($event)"
                    multiple>
            </div>

            <!-- Pré-visualização -->
            <div class="imagem-container" *ngFor="let imagem of imagens_galeria; let i = index">
                <img [src]="galeria_urls[i]" class="thumbnail">
                <button type="button" (click)="removerImagemGaleria(i)">×</button>
            </div>
        </div>

        <!-- Botão de Envio -->
        <button type="submit" [disabled]="!atividadeForm.form.valid">Enviar</button>
    </form>
</div>