<div class="content">
    <h1>Publique a sua atividade:</h1>

    <form class="upload" (ngSubmit)="enviarAtividade()" #atividadeForm="ngForm">
        <!-- Imagem Principal -->
        <label>Escolha a sua imagem principal</label>
        <input type="file" name="principal" class="principal" accept="image/*"
            (change)="onImagemPrincipalSelecionada($event)" required>

        <!-- Título -->
        <label>Título</label>
        <input type="text" name="titulo" [(ngModel)]="titulo" required>

        <!-- Data da Atividade -->
        <label>Quando essa atividade aconteceu?</label>
        <input type="date" name="dataAtividade" [(ngModel)]="dataAtividade" required>

        <!-- Descrição -->
        <label>O que aconteceu nessa atividade?</label>
        <textarea name="descricao" [(ngModel)]="descricao" required></textarea>

        <!-- Tags -->
        <label>Selecione a tag:</label>
        <select name="tags" [(ngModel)]="tagSelecionada" required>
            <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.nome }}</option>
        </select>

        <!-- Galeria de Imagens -->
        <label>Adicione fotos à galeria (opcional)</label>
        <input type="file" name="galeria" class="galeria" accept="image/*" (change)="onGaleriaSelecionada($event)"
            multiple>

        <!-- Pré-visualização da Galeria -->
        <div *ngIf="imagensGaleria.length > 0" class="galeria-preview">
            <h2>Fotos da Galeria</h2>
            <div *ngFor="let imagem of imagensGaleria; let i = index" class="imagem-container">
                <!-- Usando FileReader para exibir a pré-visualização -->
                <img [src]="getImagemUrl(imagem)" alt="Imagem {{ i + 1 }}" class="thumbnail">
                <button type="button" (click)="removerImagemGaleria(i)">Excluir</button>
            </div>
        </div>

        <!-- Botão de Envio -->
        <button type="submit" [disabled]="!atividadeForm.form.valid">Enviar</button>
    </form>
</div>