<div class="content">
    <div class="header">
        <a (click)="navigateTo('nova-atividade')" class="nova-atividade">Nova Atividade</a>
    </div>

    <div class="posts">
        <div class="search">
            <div class="search-bar">
                <input type="text" placeholder="Pesquisar..." (input)="filtrarAtividades()" />
            </div>

            <div class="filtro">
                <select [(ngModel)]="tagSelecionada" (change)="filtrarAtividades()">
                    <option [ngValue]="null">Todas</option>
                    <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.nome }}</option>
                </select>

            </div>
        </div>

        <div class="content">
            <div *ngIf="!atividadesFiltradas || atividadesFiltradas.length === 0" class="no-atividades-message">
                Não temos atividades disponíveis.
            </div>
            <app-card-atividade *ngFor="let atividade of getAtividadesPaginaAtual()" [atividade]="atividade"
                [modoAdmin]="true" (editar)="editarAtividade($event)" (excluir)="excluirAtividade($event)">
            </app-card-atividade>
        </div>

        <div class="paginacao">
            <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">Anterior</button>
            <span>{{ paginaAtual }} .. {{ totalPaginas }}</span>
            <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">Próximo</button>
        </div>
        <div *ngIf="atividadeEditando" class="modal">
            <div class="modal-content">
                <span class="close" (click)="fecharModal()">&times;</span>
                <h2>Editar Atividade</h2>
                <app-modal-edicao *ngIf="atividadeEditando" [atividadeEditando]="atividadeEditando" [tags]="tags"
                    [imagensGaleria]="imagens_galeria" [imagensExistenteGaleria]="imagensExistenteGaleria"
                    (salvar)="salvarEdicao()" (fecharModal)="fecharModal()"
                    (onImagemPrincipalSelecionada)="onImagemPrincipalSelecionada($event)"
                    (onGaleriaSelecionada)="onGaleriaSelecionada($event)"
                    (removerImagemExistente)="removerImagemExistente($event)"
                    (removerNovaImagemGaleria)="removerNovaImagemGaleria($event)"></app-modal-edicao>
            </div>
        </div>
    </div>
</div>