<div class="document">
    <div class="text">
        <h1>
            Escotismo
        </h1>

        <p>
            O Escotismo é um movimento educacional global que visa contribuir para o desenvolvimento físico,
            intelectual, social, espiritual e emocional de jovens, preparando-os para serem cidadãos responsáveis e
            líderes em suas comunidades. Fundado por Robert Stephenson Smyth Baden-Powell, o Escotismo surgiu no início
            do século XX e rapidamente se espalhou pelo mundo, tornando-se um dos maiores movimentos juvenis do planeta.
        </p>

        <h2>
            A Origem do Escotismo: As Motivações de Baden-Powell
        </h2>

        <p>
            As motivações de Baden-Powell (B-P) para criar o movimento surgiram de suas experiências durante a Segunda Guerra
            dos Bôeres (1899-1902), na África do Sul. Durante o cerco à cidade de Mafeking, Baden Powell observou que,
            com a orientação adequada, os jovens poderiam ser treinados para assumir responsabilidades e contribuir de
            forma significativa em situações críticas ao desenvolverem habilidades práticas, autoconfiança e valores éticos.
        </p>

        <p>
            Após a guerra, Baden-Powell decidiu, a partir de suas observações, adaptar suas técnicas militares para um
            contexto educacional, com o objetivo de formar cidadãos úteis à sociedade. Em 1907, ele realizou o primeiro
            acampamento experimental na Ilha de Brownsea, Inglaterra, com 20 jovens de diferentes origens sociais. O
            sucesso desse acampamento levou Baden-Powell a publicar, em 1908, o livro "Escotismo para Rapazes", que se
            tornou o manual básico do movimento.
        </p>

        <h2>
            A Expansão do Escotismo e a Criação dos Ramos
        </h2>

        <p>
            O Escotismo rapidamente ganhou popularidade e se espalhou pelo mundo. Em 1909, o movimento já havia chegado
            a
            diversos países, incluindo os Estados Unidos, Canadá e Austrália. Nesse mesmo ano, Baden-Powell percebeu a
            necessidade de adaptar o Escotismo para diferentes faixas etárias, o que levou à criação dos ramos.
        </p>

        <h3>
            O Ramo Lobinho (1916)
        </h3>

        <p>
            Inspirado no "Livro da Jângal", de Rudyard Kipling, o Ramo Lobinho foi criado para crianças de 6,5 a 10
            anos. As
            atividades são baseadas em histórias e personagens do livro, com foco no desenvolvimento de valores como
            honestidade, lealdade e trabalho em equipe. O ramo foi oficializado em 1916, na Inglaterra.
        </p>

        <h3>
            O Ramo Escoteiro (1908)
        </h3>

        <p>
            O Ramo Escoteiro, destinado a jovens de 11 a 14 anos, foi o primeiro a ser criado e é considerado o coração
            do
            movimento. As atividades incluem acampamentos, primeiros socorros, orientação e desenvolvimento de
            habilidades
            práticas, sempre aliadas aos valores escoteiros.
        </p>

        <h3>
            O Ramo Sênior (1918)
        </h3>

        <p>
            Criado em 1918, o Ramo Sênior foi desenvolvido para adolescentes de 15 a 17 anos. Esse ramo enfatiza a
            liderança
            e o serviço comunitário, incentivando os jovens a assumir responsabilidades e a planejar projetos que
            beneficiem
            suas comunidades.
        </p>

        <h3>
            O Ramo Pioneiro (1946)
        </h3>

        <p>
            O Ramo Pioneiro, para jovens de 18 a 21 anos, foi oficializado após a Segunda Guerra Mundial, em 1946.
            Focado no
            desenvolvimento pessoal e profissional, esse ramo desafia os jovens a realizar projetos complexos e a
            refletir
            sobre seu papel na sociedade.
        </p>

        <h2>
            A Entrada Feminina no Movimento (1910)
        </h2>

        <p>
            Inicialmente, o Escotismo era voltado apenas para meninos. No entanto, em 1910, Baden-Powell fundou o
            Movimento das Guias, destinado às meninas, liderado por sua irmã, Agnes Baden-Powell. O movimento das
            Guias seguiu os mesmos princípios do Escotismo, mas com atividades adaptadas às necessidades das meninas.
            A inclusão de meninas no Escotismo tradicional ocorreu de forma gradual, e hoje o movimento é totalmente
            misto em quase todos os países.
        </p>

        <h2>
            Os Valores do Escotismo
        </h2>

        <p>
            O Escotismo é baseado em um conjunto de valores que visam formar cidadãos éticos e responsáveis. Esses
            valores
            são expressos na Lei Escoteira e na Promessa Escoteira, que todos os membros do movimento devem seguir.
        </p>

        <h3>
            A Lei Escoteira
        </h3>

        <p>
            A Lei Escoteira é um código de conduta que define os princípios éticos e morais que todo escoteiro deve
            seguir.
            Sendo ela:
        </p>

        <div class="leis">
            <p class="list">
                O escoteiro é digno de confiança.
            </p>

            <p class="list">
                O escoteiro é leal.
            </p>

            <p class="list">
                O escoteiro está sempre alerta para ajudar o próximo.
            </p>

            <p class="list">
                O escoteiro é amigo de todos e irmão dos demais escoteiros.
            </p>

            <p class="list">
                O escoteiro é cortês.
            </p>

            <p class="list">
                O escoteiro é bom para os animais e as plantas.
            </p>

            <p class="list">
                O escoteiro é obediente e disciplinado.
            </p>

            <p class="list">
                O escoteiro é alegre e sorri nas dificuldades.
            </p>

            <p class="list">
                O escoteiro é econômico e respeita o bem alheio.
            </p>

            <p class="list">
                O escoteiro é limpo de corpo e alma.
            </p>
        </div>

        <h3>
            A Promessa Escoteira
        </h3>

        <p id="promessa">
            "Prometo pela minha honra fazer o melhor possível para:<br>
            Cumprir meus deveres para com Deus e minha Pátria;<br>
            Ajudar o próximo em toda e qualquer ocasião;<br>
            Obedecer à Lei Escoteira."
        </p>

        <p>
            A Promessa Escoteira é um compromisso solene que todo escoteiro faz ao ingressar no movimento. Ela consiste
            em
            três partes:
        </p>

        <p>
            Dever para com Deus: O escoteiro promete fazer o seu melhor para cumprir seus deveres religiosos,
            independentemente de sua crença.
        </p>

        <p>
            Dever para com os outros: O escoteiro promete ajudar o próximo em todas as ocasiões.
        </p>

        <p>
            Dever para consigo mesmo: O escoteiro promete fazer o seu melhor para ser uma pessoa melhor e cumprir a Lei
            Escoteira.
        </p>

        <h2>
            A Chegada do Escotismo no Brasil (1910)
        </h2>

        <p>
            A primeira menção ao Escotismo no Brasil foi publicada em 1º de dezembro de 1909, na edição número 13 da
            revista Ilustração Brasileira, editada no Distrito Federal, Rio de Janeiro, e com circulação nacional. A
            reportagem, intitulada Scouts e a Arte de Scrutar, ocupava três páginas e trazia sete fotografias. O
            material foi preparado na Inglaterra pelo 1º Tenente da Marinha de Guerra Eduardo Henrique Weaver, que
            estava a serviço no país. Foi lá que ele testemunhou o surgimento do Movimento Escoteiro – Scouting for
            Boys, criado em 1907 pelo General inglês Robert Baden-Powell. Na época, além do Tenente Weaver, um
            numeroso contingente de oficiais e praças da Marinha brasileira estava na Inglaterra, preparando-se para
            guarnecer os novos navios da esquadra brasileira em construção. Um grupo de suboficiais se entusiasmou com o
            revolucionário método de educação complementar idealizado por Baden-Powell. Entre eles estava o Suboficial Amélio
            Azevedo Marques, que incentivou seu filho, Aurélio, a ingressar em um dos Grupos Escoteiros locais. Dessa
            forma, Aurélio Azevedo Marques tornou-se o primeiro Escoteiro Brasileiro, ou, mais precisamente, o primeiro
            Boy Scout brasileiro.
        </p>

        <p>
            Ao retornarem ao Brasil, os militares trouxeram consigo uniformes escoteiros ingleses, no valor de trinta
            libras esterlinas. O Encouraçado Minas Gerais, navio que transportava a maioria dos militares interessados
            em trazer o Movimento Escoteiro para o Brasil, chegou ao Rio de Janeiro em 17 de abril de 1910. No dia 14 de
            junho do mesmo ano, na casa número 13 da Rua do Chichorro, no bairro do Catumbi, Rio de Janeiro, reuniram-se
            formalmente todos os interessados pelo Escotismo que haviam desembarcado nos navios. Naquele local, foi
            oficialmente fundado o Centro de Boys Scouts do Brasil. O evento foi divulgado aos jornais, que publicaram a
            carta enviada pela Comissão Diretora. A correspondência começava com as seguintes palavras:
        </p>

        <p class="quote">
            "À imprensa desta capital, brilhante e poderoso fator de progresso, campeã de todas as ideias nobres, vem o
            Centro de Boys Scouts do Brasil solicitar o auxílio de sua boa vontade, o esteio de que necessita para que,
            em todos os lares brasileiros, penetre o conhecimento do quanto à Pátria pode ser útil a instrução dos Boys
            Scouts."
        </p>

        <p>
            O primeiro grupo escoteiro brasileiro foi fundado em São Paulo, por iniciativa de militares e educadores que
            haviam tido contato com o movimento no exterior. O grupo foi batizado de "Centro de Boys Scouts do Brasil" e
            seguia os princípios e métodos propostos por Baden-Powell.
        </p>

        <h1>
            A História do Escotismo no Brasil
        </h1>

        <h2>
            Os Primeiros Anos (1910-1920)
        </h2>

        <p>
            Nos primeiros anos, o Escotismo no Brasil foi marcado por um crescimento lento, mas constante. Grupos
            escoteiros foram formados em várias cidades, como Rio de Janeiro, Belo Horizonte e Porto Alegre. Em 1914,
            foi fundada a
            União dos Escoteiros do Brasil, que mais tarde se tornaria a União dos Escoteiros do Brasil (UEB), a
            organização nacional responsável pelo Escotismo no país.
        </p>

        <h2>
            A Consolidação do Movimento (1920-1940)
        </h2>

        <p>
            Durante as décadas de 1920 e 1930, o Escotismo no Brasil começou a se consolidar, com a criação de grupos
            escoteiros em escolas, igrejas e comunidades. A UEB passou a organizar eventos nacionais, como acampamentos
            e competições, que ajudaram a difundir o movimento e a atrair novos membros.
        </p>

        <h2>
            Caio Vianna Martins: Um Pioneiro do Escotismo no Brasil
        </h2>

        <p>
            Caio Vianna Martins nasceu em Matosinho (MG), em 13 de julho de 1923, em um arraial que hoje se tornou
            cidade. Mais tarde, mudou-se com a família para Belo Horizonte, onde estudou no Colégio Arnaldo e Afonso
            Arinos. Foi nesse período que ele ingressou no Escotismo, movimento que marcaria profundamente sua vida. Com
            o tempo, Caio se tornou monitor da Patrulha Lobo (Ramo Escoteiro), demonstrando desde cedo seu compromisso com os valores
            escoteiros.
        </p>

        <p>
            Na noite de 19 de dezembro de 1938, o destino do jovem de 15 anos cruzou-se com um
            trágico evento que o transformaria em um símbolo de coragem e altruísmo. A Comissão Executiva do Grupo
            Escoteiro Afonso Arinos, do ginásio homônimo em Belo Horizonte (ambos hoje extintos), organizou uma excursão
            técnica-cultural a São Paulo, em que a locomoção seria realizada de trem. A delegação era composta por 25 membros, entre escoteiros e lobinhos.
        </p>

        <p>
            O trem noturno que os levava era formado por 11 vagões, sendo o do meio, de 1ª Classe, ocupado pelos
            escoteiros. A viagem transcorria normalmente até que, às 2h05 da madrugada, entre as pequenas estações de
            Sítio e João Aires, ocorreu um terrível desastre. O trem noturno, que descia a serra, colidiu com um trem
            cargueiro que subia. O impacto foi devastador: vagões descarrilaram, outros se engavetaram, e alguns até se
            levantaram. O vagão dos escoteiros saltou dos trilhos, ficando comprimido entre os carros restaurante e
            leito.
        </p>

        <p>
            Os escoteiros que sobreviveram ao impacto reuniram-se em um ponto da estrada. Foi então que notaram a
            ausência do Escoteiro Gerson Issa Satuf e do Lobinho Hélio Marcos. Após uma busca, ambos foram encontrados
            sem vida. Os escoteiros que estavam em condições de ajudar começaram a organizar o resgate. Colchões e
            cobertores do vagão leito foram usados para abrigar os sobreviventes, enquanto outros escoteiros
            improvisaram macas com lençóis e paus. Para iluminar o local, fizeram uma fogueira com tábuas retiradas dos
            vagões, facilitando o trabalho de salvamento.
        </p>

        <p>
            Os primeiros socorros chegaram apenas às 7h da manhã, cinco horas após o acidente. Os feridos, incluindo
            alguns escoteiros, foram transportados para Barbacena. O desastre resultou na morte de 40 pessoas.
        </p>

        <p>
            Caio Vianna Martins, que atuava como monitor, sofreu uma forte pancada na região lombar, causando uma
            hemorragia interna. Retirado do vagão pelos companheiros e levado ao vagão leito, ele parecia estar se
            recuperando. No entanto, quando um enfermeiro se aproximou com uma maca para levá-lo a Barbacena, Caio olhou
            ao redor e viu outros feridos em estado mais grave. Com determinação, disse ao enfermeiro:
        </p>

        <p class="quote">
            “Não. Há muitos feridos aí. Deixe-me que irei só. Um escoteiro caminha com as próprias pernas”.
        </p>

        <p>
            Acompanhado de seus amigos, Caio começou a caminhar em direção à cidade. No entanto, o esforço foi excessivo
            para seu estado. Ao chegar a um hotel, deu alguns passos e desfaleceu, vítima da hemorragia interna. Foi
            levado às pressas para a Santa Casa de Barbacena, mas não resistiu. Caio faleceu às 2h do dia 20 de
            dezembro, na presença de seus pais. Foi sepultado no Cemitério do Bonfim, na zona norte de Belo Horizonte,
            ao lado do Escoteiro Gerson Issa Satuf e do Lobinho Hélio Marcos.<br>
        </p>

        <p>
            A história de Caio Vianna Martins transcendeu o tempo, tornando-se um exemplo de bravura, altruísmo e
            dedicação aos valores escoteiros. Sua decisão de colocar os outros acima de si mesmo, mesmo em meio à dor e
            ao perigo, continua a inspirar gerações de escoteiros. Caio é lembrado não apenas como um herói, mas como um
            símbolo do verdadeiro espírito escoteiro, que preza pelo serviço ao próximo, pela coragem e pela
            integridade. Sua vida e seu sacrifício são um legado que permanece vivo no coração do Movimento Escoteiro.
        </p>

        <h2>
            A Expansão e Modernização (1940-Presente)
        </h2>

        <p>
            A partir da década de 1940, o Escotismo no Brasil passou por uma fase de expansão e modernização. Novos
            ramos
            foram introduzidos, como o Ramo Pioneiro, e o movimento começou a se adaptar às mudanças sociais, incluindo
            a
            entrada definitiva de meninas no Escotismo tradicional. Hoje, a UEB é uma das maiores organizações
            escoteiras do
            mundo, com milhares de membros em todos os estados brasileiros.
        </p>

        <h4>
            Interessado?
        </h4>

        <p class="obs">
            Leia mais sobre no livro "Escotismo para Rapazes" de Robert Baden-Powell.
        </p>

        <a href="https://ead.escoteiros.org.br/pluginfile.php/169494/mod_folder/content/0/Escotismo%20para%20rapazes.pdf"
            target="_blank">Escotismo para Rapazes - Campo Escola Virtual</a>
    </div>
</div>