<div id="como_chegar">
  <h1>Como Chegar</h1>

  <div id="mapa">
    <div id="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.8667678390757!2d-49.22909592482913!3d-25.409269977575015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce5c248970045%3A0x89f3e0e711d62378!2sG.E.%20Jorge%20Frassati%20-%2002%2FPR!5e0!3m2!1spt-BR!2sbr!4v1737576192373!5m2!1spt-BR!2sbr"
        width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div id="cabecalho">
    <h3>Endereço da Sede</h3>
    <a target="_blank"
      href="https://www.google.com/maps/dir//Grupo+de+Escoteiro+Jorge+Frassati+-+Rua+Mercedes+Seiler+Rocha+-+Bacacheri,+Curitiba+-+State+of+Paran%C3%A1/@-25.4086193,-49.2317126,16.72z/data=!4m9!4m8!1m0!1m5!1m1!1s0x94dce5c248970045:0x89f3e0e711d62378!2m2!1d-49.226521!2d-25.40927!3e0?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D">Rua
      Mercedes Seiler Rocha, 79 - Bacacheri</a>
    <a target="_blank"
      href="https://www.google.com/maps/dir//Grupo+de+Escoteiro+Jorge+Frassati+-+Rua+Mercedes+Seiler+Rocha+-+Bacacheri,+Curitiba+-+State+of+Paran%C3%A1/@-25.4086193,-49.2317126,16.72z/data=!4m9!4m8!1m0!1m5!1m1!1s0x94dce5c248970045:0x89f3e0e711d62378!2m2!1d-49.226521!2d-25.40927!3e0?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D">Curitiba
      - Paraná</a>
    <a target="_blank"
      href="https://www.google.com/maps/dir//Grupo+de+Escoteiro+Jorge+Frassati+-+Rua+Mercedes+Seiler+Rocha+-+Bacacheri,+Curitiba+-+State+of+Paran%C3%A1/@-25.4086193,-49.2317126,16.72z/data=!4m9!4m8!1m0!1m5!1m1!1s0x94dce5c248970045:0x89f3e0e711d62378!2m2!1d-49.226521!2d-25.40927!3e0?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D">CEP:
      82520-740</a>
  </div>
</div>