<div class="cabecalho-calendario">
    <div class="modo-switch">
        <label>
            <input type="radio" name="modo" value="mes" [(ngModel)]="modo" (change)="gerarCalendario()" />
            Mês
        </label>
        <label>
            <input type="radio" name="modo" value="semana" [(ngModel)]="modo" (change)="gerarCalendario()" />
            Semana
        </label>
    </div>

    <div class="navegacao">
        <span class="seta" (click)="anterior()">◀</span>

        <div class="titulo-central">
            <span class="mes">
                {{ meses[dataAtual.getMonth()] }}
                <select [(ngModel)]="dataAtualMes" (change)="atualizarData()" class="select-invisivel"></select>
            </span>

            <span class="ano">
                {{ dataAtual.getFullYear() }}
                <select [(ngModel)]="dataAtualAno" (change)="atualizarData()" class="select-invisivel"></select>
            </span>
        </div>

        <span class="seta" (click)="proximo()">▶</span>
    </div>
</div>

<div class="cabecalho">
    <div *ngFor="let dia of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']">{{ dia }}</div>
</div>

<div class="dias" [ngClass]="{ 'semana-expandida': modo === 'semana' }">
    <div *ngFor="let dia of diasDoCalendario" class="dia" [class.fora]="dia.fora" [class.hoje]="ehHoje(dia.data)">
        <div class="numero">{{ dia.data.getDate() }}</div>

        <div class="evento" *ngFor="let evento of dia.eventos" (click)="abrirModal(evento)">
            <div class="tag" [style.backgroundColor]="evento.cor_tag">
                {{ evento.titulo }}
            </div>
        </div>
    </div>
</div>

<app-modal-evento *ngIf="eventoSelecionado" [evento]="eventoSelecionado!" (fechar)="fecharModal()" />