a {
    cursor: pointer;
}

a, p {
    color: white;
    text-decoration: none;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 30px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    padding-left: 5%;
}

.menu  ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.rede {
    width: 100%;
    display: flex;
    justify-content: right;
}

.rede ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding-right: 17%;
}

#telefone {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 1%;
}

#telefone p {
    padding-right: 8.5%;
}

#creditos {
<<<<<<< HEAD
=======
    margin-top: 50px;
>>>>>>> 1d831a65 (Recuperando projeto após corrupção do Git)
    display: block;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 14px;
}

#termos {
    padding-block: 30px;
}