<div class="top">
    <div class="menu">
        <ul>
            <li><a routerLink="/inicio" class="menu-item">Início</a></li>
            <li><a routerLink="/grupo/historia" class="menu-item">O grupo</a></li>
            <li><a routerLink="/grupo/escotismo" class="menu-item">Escotismo</a></li>
            <li><a routerLink="/como-chegar" class="menu-item">Como chegar</a></li>
            <li><a routerLink="/fale-conosco" class="menu-item">Fale conosco</a></li>
            <li><a routerLink="/blog" class="menu-item">Blog</a></li>
            <li><a class="menu-item" href="https://paxtu.escoteiros.org.br/" target="_blank"
                    rel="noopener noreferrer">Paxtu</a></li>
        </ul>
    </div>

    <div class="rede">
        <ul>
            <li>
                <a class="rede-item" href="https://whatsa.me/5541992528362" target="_blank">
                    <img src="whatsapp-brands-solid.svg" alt="Whatsapp" width="24" height="24">
                </a>
            </li>

            <li>
                <a class="rede-item"
                    href="https://www.instagram.com/ge_jorgefrassati_02_pr_oficial?igsh=MTF1dzl2dmF6NXZwcw=="
                    target="_blank">
                    <img src="instagram-brands-solid.svg" alt="Instagram" width="24" height="24">
                </a>
            </li>

            <li>
                <a class="rede-item" href="https://www.facebook.com/GEJF02PR/?locale=pt_BR" target="_blank">
                    <img src="facebook-f-brands-solid.svg" alt="Facebook" width="24" height="24">
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="telefone">
    <p>+55 (41) 99252-8362</p>
</div>

<div id="creditos">
    <p id="termos">© Copyright 2024 Grupo Escoteiro Jorge Frassati 02-PR. All Rights Reserved. JobScout</p>
</div>