<div id="documentos">
    <h1>Documentos</h1>

    <div class="documento-bloco">
        <div class="documento-header">
            <h3>P. O. R.</h3>
            <h4>Princípios, Organização e Regras</h4>
        </div>
        <a class="documento-link" href="POR_2025_09.pdf" target="_blank">
            Princípios, Organização e Regras (POR)
        </a>
    </div>

    <div class="documento-bloco">
        <h2>Estatuto</h2>
        <a class="documento-link" href="Estatuto 2025_GEJF 02PR_REGISTRADO.pdf" target="_blank">
            Estatuto - Grupo Escoteiro Jorge Frassati
        </a>
    </div>

    <div class="documento-bloco">
        <h2>Regimento Interno</h2>
        <a class="documento-link" href="Regimento Interno 2025-GEJF 02PR_REGISTRADO.pdf" target="_blank">
            Regimento Interno - Grupo Escoteiro Jorge Frassati
        </a>
    </div>
</div>