<div id="documentos">
    <h1>Documentos</h1>

    <a class="documento-bloco" href="POR_2025_09.pdf" target="_blank">
        <div class="documento-header">
            <h3>P. O. R.</h3>
            <h4>Princípios, Organização e Regras</h4>
        </div>
        <p class="documento-link">
            Princípios, Organização e Regras (POR)
        </p>
    </a>

    <a class="documento-bloco" href="Estatuto 2025_GEJF 02PR_REGISTRADO.pdf" target="_blank">
        <h2>Estatuto</h2>
        <p class="documento-link">
            Estatuto - Grupo Escoteiro Jorge Frassati
        </p>
    </a>

    <a class="documento-bloco" href="Regimento Interno 2025-GEJF 02PR_REGISTRADO.pdf" target="_blank">
        <h2>Regimento Interno</h2>
        <p class="documento-link">
            Regimento Interno - Grupo Escoteiro Jorge Frassati
        </p>
    </a>
</div>