<div class="modal" *ngIf="atividadeEditando">
  <div class="modal-content">
    <span class="close" (click)="fecharModal.emit()">&times;</span>
    <h2>Editar Atividade</h2>

    <form (ngSubmit)="salvar.emit()" #editarForm="ngForm">
      <label>Escolha a sua imagem principal</label>
      <input type="file" accept="image/*" (change)="onImagemPrincipalSelecionada.emit($event)" />

      <label>Título</label>
      <input type="text" [(ngModel)]="atividadeEditando.titulo" name="titulo" required />

      <label>Quando essa atividade aconteceu?</label>
      <input type="date" [(ngModel)]="atividadeEditando.data_atividade" name="data_atividade" required />

      <label>O que aconteceu nessa atividade?</label>
      <textarea [(ngModel)]="atividadeEditando.descricao" name="descricao" required></textarea>

      <label>Selecione a tag:</label>
      <select [(ngModel)]="atividadeEditando.id_tag" name="id_tag" required>
        <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.nome }}</option>
      </select>

      <label>Adicione fotos à galeria (opcional)</label>
      <input type="file" accept="image/*" multiple (change)="onGaleriaSelecionada.emit($event)" />

      <div *ngIf="(imagensExistenteGaleria.length > 0) || (imagensGaleria.length > 0)" class="galeria-preview">
        <h3>Fotos da Galeria</h3>

        <div class="galeria-container">
          <div *ngFor="let imagem of imagensExistenteGaleria; let i = index" class="imagem-container">
            <img [src]="'data:image/*;base64,' + imagem.caminho" class="thumbnail" />
            <button type="button" (click)="removerImagemExistente.emit(i)">Remover</button>
          </div>

          <div *ngFor="let imagem of imagensGaleria; let i = index" class="imagem-container">
            <img [src]="imagem.url" class="thumbnail" />
            <button type="button" (click)="removerNovaImagemGaleria.emit(i)">Remover</button>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" (click)="fecharModal.emit()">Cancelar</button>
        <button type="submit" [disabled]="!editarForm.form.valid">Salvar Alterações</button>
      </div>
    </form>
  </div>
</div>
