@import url(index.css);

#faixa-vermelha {
    height: 10px;
    width: 100%;
    background-color: var(--red);
}

#menu {
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    
}

#opcoes {
    display: flex;
    justify-content: space-around;
    flex: 12;
    position: relative;
}

#logo {
    grid-area: logo;
    flex: 11;
}

#logo img {
    width: 100%;
    max-width: 80px;
    height: auto;
    padding: 0 0 0 6vw;
}

#grupo {
    position: relative;
    display: inline-block;
}

#grupoButton {
    padding: 8px;
    background-color: white;
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
    border: none;
    cursor: pointer;
    font-size: 100%;
    font-family: 'Reddit Sans', sans-serif;
}

#grupoOptions {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 110px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#grupo.show #grupoOptions {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}

#grupoOptions ul {
    padding: 0;
    margin: 0;
}

#grupoOptions li {
    margin: 5px 0;
}

#grupoOptions a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 10px;
    position: relative;
}

#opcoes a:hover {
    color: var(--red);
    transform: scale(1.1);
    transition: 0.1s;
}

a:visited {
    color: black;
}

#opcoes a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: translateX(14%);
    width: 80%;
    height: 3px;
    background-color: var(--red);
}

#grupoButton:hover {
    color: var(--red);
    transform: scale(1.1);
    transition: 0.1s;
}