@import url(index.css);

header {
    font-family: 'Reddit Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--red, #ff0002);
    transition: 0.4s;
}