<form class="login-form" (ngSubmit)="fazerLogin()" method="post">
    <div class="login-container">
        <h2>Bem vindo!</h2>
        <p>Digite seus dados nos campos de acesso a baixo</p>

        <div class="campo">
            <div class="input-container" id="input-login" #inputLogin>
                <div class="icon">
                    <span class="material-symbols-outlined">account_circle</span>
                </div>
                <div class="divider">|</div>
                <input type="text" name="usuario" placeholder="Usuário" required (focus)="onFocus(inputLogin)"
                    (blur)="onBlur(inputLogin)">
            </div>
        </div>

        <div class="campo">
            <div class="input-container" id="input-password" #inputPassword>
                <div class="icon">
                    <span class="material-symbols-outlined">lock</span>
                </div>
                <div class="divider">|</div>
                <input type="password" name="senha" placeholder="Senha" required (focus)="onFocus(inputPassword)"
                (blur)="onBlur(inputPassword)">
            </div>
        </div>

        <div class="botao">
            <button type="submit">Acessar</button>
        </div>
    </div>
</form>
