<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
        <h2>Bem-vindo!</h2>
        <p>Digite seus dados nos campos de acesso abaixo:</p>

        <div class="campo">
            <div class="input-container" id="input-login" #inputLogin>
                <div class="icon">
                    <span class="material-symbols-outlined">account_circle</span>
                </div>
                <div class="divider">|</div>
                <input type="text" formControlName="usuario" placeholder="Usuário" required>
            </div>
        </div>

        <div class="campo">
            <div class="input-container" id="input-password" #inputPassword>
                <div class="icon">
                    <span class="material-symbols-outlined">lock</span>
                </div>
                <div class="divider">|</div>
                <input type="password" formControlName="senha" placeholder="Senha" required>
            </div>
        </div>

        <div class="botao">
            <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </div>
    </div>
</form>
