<<<<<<< HEAD
.header {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: #db1832;
}

.header button {
    align-self: flex-end;
    margin: 2% 4% 2% 0;
    cursor: pointer;
}

.admin-layout {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 83px);
}

.side-bar {
    width: 300px;
    background-color: #cc263c;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.side-bar ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.side-bar li {
    cursor: pointer;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
}

.side-bar a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 2% 5% 2% 5%;
    color: white;
    z-index: 1000;
}
=======
.admin-layout {
  display: flex;
  height: 100vh;
  background-color: #f8f8f8;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  background-color: #fff;
  border-right: 1px solid rgba(255, 0, 0, 0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 0;
  box-shadow: 4px 0 10px rgba(255, 0, 0, 0.05);
  position: relative;
  z-index: 100;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.logo-container img {
  width: 120px;
  height: auto;
}

.side-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.side-bar li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.side-bar li:hover {
  background-color: rgba(255, 0, 0, 0.05);
}

.side-bar li span.material-symbols-outlined {
  font-size: 24px;
  margin-right: 10px;
  color: #cc263c;
}

.side-bar li.ativo {
  background-color: #ffe5e5;
  border-left: 5px solid #cc263c;
  color: #cc263c;
  font-weight: bold;
}

.side-bar li.ativo .material-symbols-outlined {
  color: #cc263c;
}


.logout-container {
  padding: 0 20px;
}

.logout-container button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #cc263c;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.logout-container button:hover {
  background-color: rgba(255, 0, 0, 0.05);
}

.logout-container .material-symbols-outlined {
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  padding: 40px;
  overflow-y: auto;
}
>>>>>>> 1d831a65 (Recuperando projeto após corrupção do Git)
