<div class="document">
    <div class="text">
        <h1>Uma Semente Plantada: O Escotismo em Curitiba nos Anos 50 e a fundação do Grupo Escoteiro Jorge Frassati.</h1>
        
        <h3>Autor. Felipe Ramos<br>
            Historiador
        </h3>
        
        <p>
            A história do escotismo em Curitiba é rica em tradições e marcada por iniciativas pioneiras. Um marco importante nessa trajetória ocorreu em 1951, quando um grupo de jovens entusiastas, com o apoio da direção de um estabelecimento de ensino e da Igreja, deu os primeiros passos para a fundação de uma tropa de escoteiros na cidade.<br><br>
            A carta, datada de 19 de setembro de 1951 e assinada pelo Frei Quirino Adolfo Schmitz, representa um documento histórico que evidencia a importância desse momento. Nela, o Frei solicita à União dos Escoteiros Brasileiros (U.E.B.) a autorização provisória para o funcionamento da tropa, demonstrando o compromisso da instituição com a educação e o desenvolvimento integral dos jovens.<br><br>
            A fundação dessa primeira tropa de escoteiros em Curitiba nos anos 50 representou um marco para o desenvolvimento do movimento escoteiro na cidade. A partir desse momento, o escotismo se expandiu e se consolidou como uma importante ferramenta educacional, formando gerações de jovens com valores sólidos e comprometidos com a construção de um mundo melhor.<br><br>
            Seria instalada em uma sala do próprio ginásio, demonstrando o apoio da instituição à iniciativa. Esse espaço seria transformado pelos próprios escoteiros, tornando-se um local de encontro e de realização de atividades. A adesão dos jovens ao projeto foi expressiva, com mais de 20 candidatos iniciais. Após um período de atividades e seleções, um grupo de doze escoteiros foi definido para dar início à tropa.<br><br>
            A escolha do professor Abílio Heiss como chefe da tropa evidencia a busca por um líder com qualidades morais e pedagógicas. Apesar de não ter experiência técnica em escotismo, sua fé inabalável e seus princípios sólidos foram considerados fundamentais para guiar os jovens escoteiros.<br><br>
        </p>
    </div>
</div>
    